    <div id="page-content">
        <div class="jumbotron">
            <h1 class="display-4 text-center text-white">ARTICLES!</h1>
            <p class="lead text-center text-white">This is a test application website.</p>
            <hr class="my-4 text-center text-white">
            <p class="lead text-center text-white">Created in tandem with a course outline.</p>
            <div class="d-grid gap-2 col-sm-1 mx-auto">
                <button class="btn btn-success" type="button">Signup</button>
            </div>
    </div>
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; imit0r</small>
        </div>
  </footer>