/*@import 'bootstrap/dist/css/bootstrap';*/

.navbar {
  background-color: rgb(0, 0, 0) !important;
}

.nav-link{
  color: rgb(255, 255, 255) !important;
}

#logo{
  float: left;
  font-size: 1.7;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#home-container {
  margin-top: 25px;
}


// .bg-image {
  // background-image: url("C:\Users\LEGION\Desktop\TEST\app\assets\images\sindy-sussengut-CN-GdKQdxu8-unsplash.jpg");
// }

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  //background: #9b9b9b;
  background:#b4b4b4;
}

// body {
//   background: url('https://plus.unsplash.com/premium_photo-1675355675464-2deabb1f893b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }

.jumbotron{
  background-image: url('https://images.unsplash.com/photo-1682687221006-b7fd60cf9dd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size:cover;
  background-repeat:no-repeat;
  min-width:fit-content;
  // background-clip: padding-box;
  
   padding: 20rem 10rem;
  // margin-bottom: 2rem;
  border-radius: 0rem;
  border-width: 1rem;  
  
}